<ul
  cdkDropList
  (cdkDropListDropped)="drop($event)"
  *ngIf="todos.length > 0"
  [ngClass]="{ 'form-bg-dark': toggleBgColor, 'form-bg-light': !toggleBgColor }"
>
  <li *ngFor="let todo of todos" class="list-items" cdkDrag>
    <label class="custom-radioButton" (click)="toggleTodo(todo.id)">
      <input type="radio" [checked]="todo.completed === true" /><span
        class="checkmark"
        [ngClass]="{
          'input-bg-dark': toggleBgColor,
          'input-bg-light': !toggleBgColor
        }"
      ></span
    ></label>

    <span
      class="list-items-title"
      [class.line-through]="todo.completed === true"
      [class.line-through-light]="todo.completed === true && !toggleBgColor"
      [class.line-through-dark]="todo.completed === true && toggleBgColor"
      [ngClass]="{
        'dark-theme-text': toggleBgColor,
        'light-theme-text ': !toggleBgColor
      }"
      >{{ todo.title }}</span
    ><span (click)="deleteTodo(todo.id)" class="list-items--icon"
      ><img src="../../../assets/images/icon-cross.svg" alt="icon-cross"
    /></span>
  </li>
  <li class="filter-container">
    <div>
      {{ getUncompletedTodos() }}
      {{ getUncompletedTodos() > 1 ? "items" : "item" }} left
    </div>
    <div><span>All</span><span>Active</span><span>Completed</span></div>
    <div>Clear Completed</div>
  </li>
</ul>
