<ul
  cdkDropList
  (cdkDropListDropped)="drop($event)"
  *ngIf="todos.length > 0"
  [ngClass]="{ 'form-bg-dark': toggleBgColor, 'form-bg-light': !toggleBgColor }"
>
  <li *ngFor="let todo of todos" class="list-items" cdkDrag>
    <label class="custom-radioButton" (click)="toggleTodo(todo.id)">
      <input type="radio" [checked]="todo.completed === true" /><span
        class="checkmark"
        [ngClass]="{
          'input-bg-dark': toggleBgColor,
          'input-bg-light': !toggleBgColor
        }"
      ></span
    ></label>

    <span
      class="list-items-title"
      [class.line-through]="todo.completed === true"
      [class.line-through-light]="todo.completed === true && !toggleBgColor"
      [class.line-through-dark]="todo.completed === true && toggleBgColor"
      [ngClass]="{
        'dark-theme-text': toggleBgColor,
        'light-theme-text ': !toggleBgColor
      }"
      >{{ todo.title }}</span
    ><span (click)="deleteTodo(todo.id)" class="list-items--icon"
      ><img src="../../../assets/images/icon-cross.svg" alt="icon-cross"
    /></span>
  </li>
  <li
    class="filter-container"
    [ngClass]="{
      'filter-container-dark': toggleBgColor,
      'filter-container-light': !toggleBgColor,
      'filter-border-top-light ': !toggleBgColor,
      'filter-border-top-dark ': toggleBgColor
    }"
  >
    <div>
      {{ getUncompletedTodos() }}
      {{ getUncompletedTodos() > 1 ? "items" : "item" }} left
    </div>
    <div class="filter-navigator">
      <span
        *ngFor="let tab of tabs"
        [class.active]="tab === activeTab"
        (click)="setActive(tab)"
        >{{ tab }}</span
      >
    </div>
    <div>Clear Completed</div>
  </li>
</ul>
<div
  *ngIf="todos.length > 0"
  class="is-mobile-up"
  [ngClass]="{
    'form-bg-dark': toggleBgColor,
    'filter-container-dark': toggleBgColor,
    'form-bg-light': !toggleBgColor,
    'filter-container-light': !toggleBgColor
  }"
>
  <div
    *ngFor="let tab of tabs"
    [class.active]="tab === activeTab"
    (click)="setActive(tab)"
  >
    {{ tab }}
  </div>
</div>

<p
  class="form-wrapper-text"
  *ngIf="todos.length > 0"
  [ngClass]="{
    'dark-theme-text': toggleBgColor,
    'light-theme-text ': !toggleBgColor
  }"
>
  Drag and drop to reorder list
</p>
