<ul
  *ngIf="todos.length > 0 && todos.length"
  cdkDropList
  (cdkDropListDropped)="drop($event)"
  [ngClass]="{ 'form-bg-dark': toggleBgColor, 'form-bg-light': !toggleBgColor }"
>
  <li *ngFor="let todo of todos" class="list-items" cdkDrag>
    <label class="custom-radioButton" (click)="toggleTodo(todo.id)">
      <input type="radio" [checked]="todo.completed === true" /><span
        class="checkmark"
        [ngClass]="{
          'input-bg-dark': toggleBgColor,
          'input-bg-light': !toggleBgColor
        }"
      ></span
    ></label>

    <span
      class="list-items-title"
      [class.line-through]="todo.completed === true"
      [class.line-through-light]="todo.completed === true && !toggleBgColor"
      [class.line-through-dark]="todo.completed === true && toggleBgColor"
      [ngClass]="{
        'dark-theme-text': toggleBgColor,
        'light-theme-text ': !toggleBgColor
      }"
      >{{ todo.title }}</span
    ><span (click)="deleteTodo(todo.id)" class="list-items--icon"
      ><img src="../../../assets/images/icon-cross.svg" alt="icon-cross"
    /></span>
  </li>
</ul>
<section class="hide-if-todo" *ngIf="!todos.length"></section>
<section
  class="filter-container"
  [ngClass]="{
    'form-bg-dark': toggleBgColor,
    'form-bg-light': !toggleBgColor,
    'filter-container-dark': toggleBgColor,
    'filter-container-light': !toggleBgColor,
    'filter-border-top-light ': !toggleBgColor,
    'filter-border-top-dark ': toggleBgColor
  }"
>
  <div>
    {{ totalActiveTodo }}
    {{ totalActiveTodo > 1 ? "items" : "item" }} left
  </div>
  <div class="filter-navigator">
    <span
      [class.active]="activeFilter.value === FilterState.ALL"
      (click)="setActive(FilterState.ALL)"
      >All</span
    >
    <span
      [class.active]="activeFilter.value === FilterState.ACTIVE"
      (click)="setActive(FilterState.ACTIVE)"
      >Active</span
    >
    <span
      [class.active]="activeFilter.value === FilterState.COMPLETED"
      (click)="setActive(FilterState.COMPLETED)"
      >Completed</span
    >
  </div>
  <div class="delete-todo" (click)="clearCompletedTodo()">Clear Completed</div>
</section>
<div
  class="is-mobile-up"
  [ngClass]="{
    'form-bg-dark': toggleBgColor,
    'filter-container-dark': toggleBgColor,
    'form-bg-light': !toggleBgColor,
    'filter-container-light': !toggleBgColor
  }"
>
  <div
    [class.active]="activeFilter.value === FilterState.ALL"
    (click)="setActive(FilterState.ALL)"
  >
    All
  </div>
  <div
    [class.active]="activeFilter.value === FilterState.ACTIVE"
    (click)="setActive(FilterState.ACTIVE)"
  >
    Active
  </div>
  <div
    [class.active]="activeFilter.value === FilterState.COMPLETED"
    (click)="setActive(FilterState.COMPLETED)"
  >
    Completed
  </div>
</div>

<p
  class="form-wrapper-text"
  *ngIf="todos.length > 0"
  [ngClass]="{
    'form-wrapper-text-dark': toggleBgColor,
    'form-wrapper-text-light': !toggleBgColor
  }"
>
  Drag and drop to reorder list
</p>
