<form
  [ngClass]="{ 'form-bg-dark': toggleBgColor, 'form-bg-light': !toggleBgColor }"
>
  <button
    class="btn-submit"
    [ngClass]="{ 'btn-dark': toggleBgColor, 'btn-light': !toggleBgColor }"
    type="submit"
    (click)="$event.preventDefault(); addTodo()"
  ></button>
  <input
    [class.dark-theme-input]="toggleBgColor"
    [class.light-theme-input]="!toggleBgColor"
    type="text"
    #inputField
    placeholder="Create a todo"
    [formControl]="newTodo"
    [ngClass]="{ 'light-input': !toggleBgColor, 'dark-input': toggleBgColor }"
  />
</form>
<div
  class="error"
  *ngIf="newTodo.invalid && newTodo.touched && showErrorMessage"
>
  Field can not be empty.
</div>
