@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}
img,
picutre {
  max-width: 100%;
  display: block;
}

.dark-theme-input::placeholder {
  color: hsl(234, 11%, 52%);
}

.light-theme-input::placeholder {
  color: hsl(233, 11%, 84%);
}

.dark-theme-text {
  color: hsl(234, 39%, 85%);
}

.light-theme-text {
  color: hsl(236, 9%, 61%);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}
.btn-light {
  border: 1px solid #f5f5f9;
}

.btn-dark {
  border: 1px solid #393a4b;
}
.form-bg-light {
  background-color: #fff;
}

.form-bg-light > .list-items:not(:first-child) {
  border-top: 1px solid #f5f5f9;
}

.form-bg-dark > .list-items:not(:first-child) {
  border-top: 1px solid #393a4b;
}
.form-bg-dark {
  background-color: hsl(235, 24%, 19%);
}
